:host {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  min-height: 100vh;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mr-5 {
  margin-right: 5px;
}

a {
  text-decoration: none;
}

.center-space-top {
  margin: 1.5rem auto;
  max-width: 75vw;
}

.spinner {
  background-color: #ccc;
  opacity: 0.3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(25, 118, 210, 0.3);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
  box-shadow: inset 0 0 6px rgba(25, 118, 210, 0.9);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #eee;
}
