<div class="center-space-top">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Welcome To Pokémon Shop</mat-card-title>
      <mat-card-subtitle>By: Jayden, Sean, Arris, Mohammed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="_wallPaper">
    <mat-card-content>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid sit, mollitia reprehenderit reiciendis cupiditate
        commodi beatae nobis! Accusantium earum aliquid sequi culpa! Accusantium dolorum laboriosam earum quibusdam veritatis
        assumenda dolorem!
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button [routerLink]="['/shop']">Goto Shop</a>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
